* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 10px solid purple;
  font-family: "Poppins", sans-serif;
  color: rgb(181, 99, 181);
  background: white;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.header {
  padding: 2em;
  background-color: rgba(255, 218, 138, 0.753);
  display: flex;
  justify-content: space-around;
}

.header ul {
  display: flex;
  list-style: none;
}

.header ul li {
  color: rgb(181, 99, 181);
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 3em;
  
}

.book-container {
  color: rgb(181, 99, 181);
  background: rgba(255, 218, 138, 0.753);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  margin: 2em auto;
  width: 50%;
  border: 10px solid darkorange;
}

.book-image {
  margin: 0 auto;
  height: flex;
  width: flex;
}

.book-title {
  display: flex;
  justify-content: center;
}

.book-description {
  display: flex;
  align-self: center;
  margin-left: 2em;
}

.book-info {
  display: flex;
}

.footer {
  padding: 1em;
  font-weight: bold;
  background: rgba(255, 218, 138, 0.753);
}

.App {
  text-align: center;
}
